*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: rgb(219, 212, 205);
}

.wrapper {
  width: 85%;
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  top: 0px;
  height: 75px;
  background: rgb(219, 212, 205);
  width: inherit;
  max-width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
}

nav {
  flex: auto;
}

header ul {
  display: flex;
  justify-content: space-between;
}

nav a:hover {
  text-decoration: underline;
}

nav p {
  text-decoration: line-through;
}

a {
  text-decoration: none;
  color: black;
}

main {
  width: 100%;
}

.delin {
  font-size: 80px;
  line-height: 0.9;
}

.delinfo {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  align-items: center;
}

.info-a {
  font-size: xx-large;
  margin-right: 20px;
}

.info-b {
  font-size:larger;
}

.shop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.iteminfo {
  
}

img {

}

footer {
  position: fixed;
  bottom: 0px;
  height: 70px;
  padding-top: 18px;
  background: rgb(219, 212, 205);
  display: grid;
  grid-template-columns: 2fr auto 1fr;
  width: inherit;
  max-width: inherit;
}

footer p.ass {
  font-size: xx-large;
}

.code {
  text-align: right;
}

footer ul {
  text-align: right;
  margin-left: 10px;
}
