* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: rgb(219, 212, 205);
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* ///////// HEADER & FOOTER ///////// */

header, footer {
  position: fixed;
  width: inherit;
  max-width: inherit;
  background: rgb(219, 212, 205);
  z-index: 3;
}

header {
  top: 0;
  padding: 2rem 1rem;
}

nav a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

nav p {
  text-decoration: line-through;
}

header ul {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  align-items: center;
  bottom: 0;
  padding: 1.2rem 1rem;
}

.foot-1 {
  flex-grow: 4;
  font-size: xx-large;
}

@media (max-width: 600px) {
  .foot-1 {
    font-size: larger;
  }
}

.foot-2, .foot-3 {
  flex-grow: 1;
  text-align: right;
  margin-left: 10px;
}

/* ///////// MAIN ///////// */

main {
  display: grid;
  padding: 100px 1rem;
  min-height: 100vh;
}

/* ///////// INDEX PAGE ///////// */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 10%;
}

.delin {
  font-size: 80px;
  line-height: 0.9;
}

.delinfo {
  display: flex;
  justify-content: space-between;
}

.info-a {
  font-size: xx-large;
  margin-right: 20px;
}

.info-b {
  font-size:larger;
}

/* ///////// ABOUT PAGE ///////// */

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 100%;
  padding: 3rem auto;
  gap: 40px;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20%;
}

.about-left p {
  margin-bottom: 10px;
}

.about-left div {
  text-align: right;
  margin-right: 15px;
  margin-top: 100px;
}

.about-left img {
  width: 200px;
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-right img {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}

/* ///////// SHOP PAGE ///////// */

.shop-container {
  display: grid;
}

.shop {
  display: flex;
  margin-bottom: 10px;
  gap: 2rem;
}

.shop aside {
  flex: 1 1 0px;
}

.shop img {
  max-width: 100%;
  max-height: 100%;
}

.price {
  margin-top: 15px;
}

.shop p {
  font-size:x-large ;
}

.shop .sticky-text {
  position: sticky;
  top: 80px;
  bottom: 100px;
  margin-bottom: 50%;
}

/* ///////// EVENTS PAGE ///////// */

.events-container {
  display: flex;
  justify-content: center;
  align-items: center;
}